.conClassOf2024{
    .classOf2024{
        margin: 30px;
        ;
        .aboutClassOf2024{
            display: flex;
            justify-content: start;
            gap: 50px;
            flex-wrap: wrap;
            align-items: center;
            .image{
                img{
                    width: 500px;
                }
            }
            .text{
                max-width: 600px;
                text-align: start;
                h1{
                    font-size: 20px;
                }
                p{
                    font-size: 15px;
                }
                .Back{
                    text-align: center;
                    padding: 10px 20px;
                    background-color: #F5F5F5;
                    border-radius: 10px;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
}