.about{
    color: black;
}
.navBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    border-radius: 10px;
    color : black;
}
.skills{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    padding: 0 20px;
    border-radius: 10px;
    color : black;
    flex-wrap: wrap;
}
.progress{
    width: 250px;
    height: 250px;
}
.eduAch{
    margin-top: 50px;
}
.eduAndAch{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    gap: 10px;
    padding: 0 20px;
    border-radius: 10px;
    color : white;
    flex-wrap: wrap;
}
.education{
    border-radius: 10px;
    color : black;
    .eduCon{
        width: 400px;
        margin-top: 10px;
        padding: 0 20px;

        .edu{
            display: flex;
            background-color: white;
            border-radius: 10px;
            padding: 10px;
            border: 1px solid black;
            gap: 10px;
            align-items: center;
            color: #000;
            .eduLogo{
                img{
                    width: 100px;
                }
            }
            .eduText{
                .year{
                    color: goldenrod;
                    font-size: smaller;
                }
                text-align: start;
            }
        }
    }
}
.achivement{
    border-radius: 10px;
    color: black;
    .achCon{
        max-width: 700px;
        display: flex;
        gap : 10px;
        justify-content: center;
        flex-wrap: wrap;
        .ach{
            background-color: white;
            border-radius: 10px;
            padding: 10px;
            border: 1px solid black;
            gap: 10px;
            color: #000;
            .achImg{
                img{
                    width: 300px;
                }
            }
            .achText{
                .year{
                    color: goldenrod;
                    font-size: smaller;
                }
                text-align: start;
            }
        
        }
        .indexAch7{
            .achImg{
                img{
                    width: 600px;
                }
            }
        }
    }
}
@media screen and (max-width: 530px){
    .indexAch7{
        .achImg{
            img{
                width: 300px !important;
            }
        }
    }
}
@media  screen and (max-width: 500px) {
    .skills{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        gap: 10px;
        padding: 0 20px;
        border-radius: 10px;
        color : black;
        flex-wrap: wrap;
    }
    .education{
        justify-content: center;
    }
    .eduCon{
        max-width: 300px !important;
        .edu{
            display: flex;
        }
    }
}
