.headerSection{
    height: 100vh;
    background-size: cover;
}
.mainHeader{
    padding: 50px;
    color: black;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    h4{
        color: #3674B5;
    }
    .Textsun{
        color: #059212;
    }
}
ul{
    display: flex;
    gap: 20px;
}
li{
    list-style: none;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}
.headerOpening{
    .openingText{
        text-align: center;
        .textWelcome{
            background: linear-gradient(to right, #EB5B00, #E9A5F1);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        h1{
            font-size: 50px;
        }
        .codingName{
            background: linear-gradient(to right, #94FFD8, red);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 20px;
        }

    }
    .scrolldown{
        margin-top: 20px;
        .buttonDiveIn{
            margin-top: auto;
            padding: 10px 20px;
            background-color: #F5F5F5;
            border-radius: 10px;
            border: none;
            cursor: pointer;
        }
    }
}