.mainHeader{
    padding: 50px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
ul{
    display: flex;
    gap: 20px;
}
li{
    list-style: none;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}