.openingFolder{
    text-align: start;
    background: url(../assets/pngtree-abstract-gold-black-metallic-arrow-direction-with-blank-space-design-modern-picture-image_1972628.jpg) no-repeat right;
    background-color: #1A1A1A;
    .opening{
        padding-top: 90px;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        padding: 50px;
        .text{
            text-align: start;
            h1{
                text-shadow: 2px 2px 4px red;
            }
            

            button{
                margin-top: 20px;
                padding: 10px 20px;
                background-color: #F5F5F5;
                border-radius: 10px;
                border: none;
                cursor: pointer;
            }
        }
        .profileImg{
            img{
                width: 200px;
                height: 350px;
                border-radius: 20px;
            }
        }
    }
    
}
