.openingFolder{
    text-align: start;
    .opening{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        padding: 50px;
        .text{
            text-align: start;
            button{
                margin-top: 20px;
                padding: 10px 20px;
                background-color: #F5F5F5;
                border-radius: 10px;
                border: none;
                cursor: pointer;
            }
        }
        .profileImg{
            img{
                width: 200px;
                height: 350px;
                border-radius: 20px;
            }
        }
    }
    
}
