.openingFolder{
    text-align: start;
    height: 100vh;
    .opening{
        color: black;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        .text{
            text-align: start;
            h1{
                text-shadow: 2px 2px 4px #EB5B00;
            }
            p{
                text-shadow: 2px 2px 4px #E9A5F1;
            }
            button{
                margin-top: 20px;
                padding: 10px 20px;
                background-color: #F5F5F5;
                border-radius: 10px;
                border: none;
                cursor: pointer;
            }
        }
        .profileImg{
            img{
                width: 200px;
                border-radius: 20px;
            }
        }
    }
    
}

@media screen and (max-width: 500px) {
    .opening{
        flex-direction: column-reverse !important;
    }
}