.projectCon{
    height: 150vh;
    margin-top: 50px;
    .navBar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        color : black;
    }
    .project{
        text-align: center;
        .projectSlide{
            display: flex;
            max-width: 95%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border-radius: 10px;
            color : black;
            background-color: #B4EBE6;
            img{
                width: 300px;
            }
            p{
                font-size: 15px;
                text-align: start;
            }
            .githubAndLink{
                display: flex;
                justify-content: center;
                gap: 20px;
                .github{
                    padding: 5px;
                    background-color: #F5F5F5;
                    border-radius: 10px;
                    border: none;
                }
                .link{
                    padding: 5px;
                    background-color: #F5F5F5;
                    border-radius: 10px;
                    border: none;
                }
            }
        }
    }
}
 
  @media (max-width: 300px) {
    .projectSlide {
      display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: center;
    }
  }
  
@media screen and (max-width: 768px) {
    .project{
        .projectSlide{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 400px;
            img{
                width: 500px;
            }
        }
    }
}