.projectCon{
    height: 100vh;
    .navBar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        color : black;
    }
    .project{
        text-align: center;
        .projectSlide{
            display: flex;
            max-width: 90%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border-radius: 10px;
            color : black;
            background-color: #B4EBE6;
            img{
                width: 300px;
            }
        }
    }
}
 
  @media (max-width: 300px) {
    .projectSlide {
      display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: center;
    }
  }
  
@media screen and (max-width: 768px) {
    .project{
        .projectSlide{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 400px;
            img{
                width: 500px;
            }
        }
    }
}